*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
}
.container{
    height: 600px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,123,190,1) 63%);}
    
.navbar{
    /* background-color: red; */
    justify-content: space-between;
    display: flex;
    padding: 10px;
    box-shadow: 0px 1px 12px;
    align-items: center;

}
.logo{
    font-size: 21px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logo .image{
   filter: invert(100%);
   margin-left: 60px;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap : 40px;
}
.navbar li{
    list-style-type: none;
    font-size: 14px;
    padding: 10px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}
.btn{
    background-color: white;
    color: black;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    font-size: 14px;
    border: 0px;

}

.btn:hover{
    background-color:#02363a;
    color: white;    
}
.intro{
    width: 100%;
    /* background-color: red; */
    height: 500px;
    display: flex;
    position: relative;
    /* border: 3px solid red; */
}

 .name{
    margin-left: 95px;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px;
    width: 40%;
    /* border: 4px solid green; */
    
}

.intro .name h1{
    font-size: 48px;
}
.intro .name p{
    position: relative;
    right : 5px;
}

.intro .name .con{
    background-color: white;
    margin: 20px;
    color: black;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    font-size: 14px;
    border: 0px;
    position: relative;
    right : 207px;
}
.intro .name .con:hover{
    background-color:#02363a;
    color: white;   
}

.img{
    margin-left: 95px;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px;
    width: 40%;
    /* border: 4px solid green; */
}
.services{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    /* margin: 10px; */
    /* border: 3px solid red; */
}
.services .box1, .box2, .box3{
    /* border: 3px solid red; */
    height: 300px;
    width : 300px;
    margin : 40px;
    justify-content: center;
    /* background-color: yellow; */
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;

}
.box1 .photo{
    height: 50%;
}
.box1 .notes{
    height: 50%;
}
.Ncontainer{
    height: 600px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,123,190,1) 63%);
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    position: relative;
}
.Ncontainer .note1,.pic1{
    height: 500px;
    width: 50%;
    /* border: 4px solid red; */
    margin: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Ncontainer .note1 p{
    /* margin: 55px; */
    margin-top: 8px;
}
.Ncontainer .note1 h1{
    font-size: 50px;
}
.foot{
    background-color: black;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
}
